.appointment__edit,
.appointment__delete,
.appointment__complete,
.appointment__claim  {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-top: 1rem;
  margin: 0.5rem;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.appointment__edit:hover,
.appointment__edit:focus,
.appointment__delete:hover,
.appointment__delete:focus,
.appointment__complete:hover,
.appointment__complete:focus,
.appointment__claim:hover,
.appointment__claim:focus   {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.appointment__edit:hover,
.appointment__delete:hover,
.appointment__complete:hover,
.appointment__claim:hover  {
  transform: translateY(-1px);
}

.appointment__edit:active,
.appointment__delete:active,
.appointment__complete:active,
.appointment__claim:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.appointment__header {
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 3rem
}

h2 {
    font-style: italic
}

p {
    font-style: italic
}