.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #533b4d;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.navbar__item {
    display: flex;
    margin-right: 2rem;
}

.navbar__link:link {
    color: black;
    display: block;
    font-size: 1.2rem;
    padding: 2rem;
    transition: all 0.5s ease-out;
}

.navbar__link:hover {
    background: #fae3c6;
  }
.navbar__link:active {
    background: #533b4d;
  }
.navbar__link:visited {
    color: gray;
    
  }


